body{
    background-color: white;
}

.h1{
    font-family: "Helvetica";
}

.login{
    background-color: lightblue;
    width: auto;
    padding: 8px;
    margin: auto;
    border: none;
    cursor: pointer;
}

.form{
    box-shadow: 1px 1px 5px #ccc;
    background-color: whitesmoke;
    font-family: Helvetica;
    width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 6px;
}

.form > label{
    padding: 20px;
    border-radius: 5px;
}

.form > input{
    border-radius: 4px;
    outline: 0;
    width: auto;
}